# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
*

!.gitignore
!Dockerfile
!/*.txt
!*.go
!*.yaml
!*/

!/go.sum
!/go.mod
!/README.md
!/LICENSE
!/LICENSES_THIRD_PARTY